//mobile
body {
    background: yellow;
}

header {

    #cart {
	display: flex;
	margin-left: 70%;
	margin-right: 2%;
	border: 1px solid red;
	width: 30%;

	img {
	    width: 100%;
	}

	#counter {
	    font-size: 2em;
	}
    }
}

#container {
    border: 1px solid red;
    display: flex;

    .arrow {

	width: 10%;
	border: 1px solid black
    }

    #leftArrow {
	margin-top: 20%;
    }

    #itemContainer {
	width: 90%;
	
	border: 1px solid blue;
	
	.item {
	    display: flex;
	    background: lightgreen;
	    width: 100%;
	    img {
		width: 100%;
	    }
	}
    }
}

// tablet and desktop

@media screen and (min-width: 401px) {
    header {
	#cart {
	    width: 10%;
	    margin-left: 90%;
	}
    }

    #container {

	.arrow {
	    display: none;
	}
    }
}
